@charset "UTF-8";
/*lideng*/
@import "themeColor";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  position: relative;
  //font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  //font-family: '黑体', Source Han Sans CN,PingFangSC-Regular,sans-serif,Helvetica Neue, Helvetica, Arial;  
  line-height: 1.5;
  color: #323232;
}

body {
  font-size: 14px;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}

body * {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: #323232;
  cursor: pointer;
  text-decoration: none;
}

/*去除a点击之后的背景*/
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*清楚浮动*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

input, button {
  border: none;
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

/*省略号*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}


/*============ 初始样式 到此结束 ============*/
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/*通用*/
.contain-public {
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 106px);
  box-sizing: border-box;
  overflow-y: auto;
  background-color: $color-linghtWhite;
  .bgWhite{
    background-color: #fff;
    padding: 20px;
    min-height: 70vh;
    border-radius: 20px;
  }
}

.pubWidth {
  width: calc(100% - 40px);
  margin: 0 auto;
}




/*============ 公共部分  开始 ============*/


/*公共头部*/
//.icon {
//  width: 1em;
//  height: 1em;
//  vertical-align: -0.15em;
//  fill: currentColor;
//  overflow: hidden;
//}



/*环绕*/
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex{
  display: flex;
}

.no-data{
  text-align: center;
  margin-top: 10px;
  color: #8D8D8D;
  width: 100%;
  .van-empty{
    padding: 4px 0;
  }
}

@mixin borBom($wid, $color) {
  border-bottom: solid $wid $color,;
}

@mixin bor($wid, $color) {
  border: solid $wid $color,;
}

@mixin borRadius($wid) {
  border-radius: $wid;
}

/*组件*/
/*日期切换  选择*/
.dayTime-ul{
  width: 100%;
  display: flex;
  text-align: center;
  border-bottom: solid 1px $themeBgColor;
  margin-bottom: .1rem;
  li{
    flex: 1;
    padding: .1rem 0;
  }
  .active-dayTime{
    color: $themeColor;
    border-bottom: solid 2px $themeColor;
  }
}



//首页轮播图
//.index-swipe{
//
//}
.img-banner{
  img{
    @include borRadius(6px);
    height: 1.2rem;
  }
}

.main-width92{
  width: 100%;
  padding: 4%;
  box-sizing: border-box;
}
.index-router{
  text-align: center;
  padding: .15rem 0;
  img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  .routerName{
    text-align: center;
    font-weight: bold;
    color: #333;
    //font-size: 14px;
    margin-top: .1rem;

  }
}
.index-title{
  margin: .2rem 0 .1rem;
}


//私教列表
.trainer-itemUl{

}
.trainer-item{
  padding-bottom: 10px;
  margin-bottom: 10px;
  &:not(:last-of-type){
    border-bottom: solid 1px $themeBgColor;
  }
  .img-trainer{
    img{
      width: .6rem;
      height: .6rem;
      @include borRadius(50%)
    }
  }
}